body{
    margin:0;
    display: grid;
    grid-template-areas: "navbar navbar navbar navbar"
                        "header section aside div"
                        "footer footer footer footer";
grid-template-rows: 20vh 70vh 40vh;
}

nav{
    grid-area: navbar;
    background-color: #574f64;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img{
    display: none;
}

@media (max-width:800px){
    nav{
        background-color: #dc3a73;
        height: 120px;
    }
}

@media (max-width:601px){
   nav img{
        display:none;
        cursor: pointer;
    }
}

@media(max-width:768px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                            "header header section section"
                            "aside aside div div"
                            "footer footer footer footer";
    grid-template-rows: 20vh 70vh 70vh 40vh
    }
    nav a{
        display: none;
    
    }
nav img{
    display: block;
}
}

@media(max-width:475px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                            "header header header header"
                            "section section section section"
                            "aside aside aside aside"
                            "div div div div"
                            "footer footer footer footer";
grid-template-rows: 20vh 50vh 50vh 50vh 50vh 40vh;
    }
    nav{
        background-color: red;
    }
}

header{
    grid-area: header;
background-color: red;
}

section{
    grid-area: section;
background-color: purple;
}

aside{
    grid-area:aside;
background-color: aquamarine;
}
div{
    grid-area: div;
    background-color: tomato;
}
footer{
    grid-area: footer;
background-color: lime;
}